* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.5em;
    background-image: url('Img/drone-sun-set2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: poppins-300;
    color: dodgerblue;
    line-height: 1.7;
}
a:hover {
    text-decoration: underline;
}
#NumOfProducts, #TotalPrice, #ContentPlaceHolder1_TotalPrice, #ContentPlaceHolder1_NumOfProducts  {
    display: contents;
}
#ContentPlaceHolder1_shoppingCartPanel {
    height: auto;
}
.Xbutton {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 3vh;
    width: 3vh;
    margin: 2vh;
}
.shoppingCart .ProductB {
    margin: 4vh 45.5%;
    margin-left: 10vh;
    padding-bottom: 8vh;
    position: absolute;
    left: 72%;
    top: -2%;
    background-color: black;
}
      
        .shoppingCart .Product {
            padding-left: 5vh;
            width: 160%;
            position: relative;
            display: inline-flex;
            float: left;
            transform: translate(-46vh, 18px);
        }
        .shoppingCart .ProductPics {
            padding: 3vh 3vh;
        }
        .shoppingCart .Header {
            margin: 3vh;
            position: absolute;
            left: 70%;
            top: 20%;
        }
        .shoppingCart .LargeButton {
            margin: 4vh 45.85%;
        }
        .SumOrder {
            float: left;
            transform: translate(34vh, 0vh);
        }
        .SumOrder .Header {
            padding: 3vh;
            margin-bottom: 2vh;
        }
        .SumOrder span {
            padding: 3vh;
            left: auto;
            margin: auto;
            transform: translate(-20vh, -1vh);
            position: inherit;
        }
.shoppingCart.ProductB {
    margin: 4vh 45.5%;
    margin-left: 10vh;
    padding-bottom: 8vh;
    position: absolute;
    left: 72%;
    top: -2%;
    background-color: black;
}

.shoppingCart.Product {
    padding-left: 5vh;
    width: 160%;
    position: relative;
    display: inline-flex;
    float: left;
    transform: translate(-46vh, 18px);
}

.shoppingCart.ProductPics {
    padding: 3vh 3vh;
}

.shoppingCart.Header {
    margin: 3vh;
    position: absolute;
    left: 70%;
    top: 20%;
}

.shoppingCart.LargeButton {
    margin: 4vh 45.85%;
}

.SumOrder {
    float: left;
    transform: translate(34vh, 0vh);
}

.SumOrder.Header {
    padding: 3vh;
    margin-bottom: 2vh;
}

.SumOrder span {
    padding: 3vh;
    left: auto;
    margin: auto;
    transform: translate(-20vh, -1vh);
    position: inherit;
}
.shoppingCart .BigErrorMSG {
    text-decoration: underline;
    margin: 23vh auto;
}
#shoppingCartPanel {
    height: auto;
}
.shoppingCart {
    float: left;
    background-color: white;
    height: auto;
    width: 120vh;
    opacity: 0.88;
    height: 50vh;
    margin-top: 2vh;
    margin-left: 0.8vh;
    position: relative;
    z-index: 1000;
}
.garbageImg {
    height: 10vh;
}
.ShopingCartIcon {
    height: 8vh;
    width: 8vh;
    position: absolute;
    top: 1vh;
}
.headerPic {
    animation-name: ShowHeaders;
    animation-duration: 2s;
    transform: translate(-15%);
}
.ProductDiv {
    padding: 3vh 55vh;
    display: inline-grid;
}
.Product {
    background-color: black;
    width: 90%;
}
.ProductPics {
    padding: 3vh 12vh;
}
.ProductBDiv {
    background-color: black;
    height: 10vh;
}
.ProductInfo {
    padding-left: 5vh;
    display: inline-grid;
}
.ProductB {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.2em;
    margin: 0.3em 11vh;
    text-align: center;
    color: black;
    box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
    position: relative;
    height: 2em;
    background-color: #069ea6;
    font-family: serif;
    float: left;
    transition: all .2s;
    margin-left: 12vh;
    padding-bottom: 5vh;
}
#productName {
    margin-left: 9vh;
}
#productPrice {
    margin-left: 13vh;
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
@keyframes ShowHeaders {
    0% {
        opacity: 0;
        transform: translateX(-100px);

    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(-15%);
    }
    }
.centerDiv {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.Headers {
    text-transform: uppercase;
}
.logoHeader {
    display: block;
    position: absolute;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 700;
}
.logoHeaderSub {
    display: block;
    letter-spacing: 30px;
    font-size: 60px;
    font-weight: 400;
}
.HomePageHeader {
     background-image: url('Img/drone-sun-set1.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    height: 95vh;
}
.TextBox {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    border-bottom-color: darkblue;
    display: block;
    color: darkblue;
    background-color: white;
}
.TextBoxUnValidValue {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    border-bottom-color: #880e0e;
    display: block;
    color: #880e0e;
    background-color: black;
}
#LogIn1, #logout1, #logout2, #logout3, #logout4 {
    float: right;
    font-size: 1em;
    background-color: dodgerblue;
    margin: 2.7vh;
    font-family: serif;
}
.BSearch {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 0.2em;
    margin: 0.3em 0;
    text-align: center;
    color: black;
    box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
    position: relative;
    height: 2em;
    background-color: dodgerblue;
    font-family: serif;
    float: left;
    transition: all .2s;
}
    .BSearch:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.28);
    }
    .BSearch:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,0.28);
    }
    /*.BSearch::after {
        width: 100%;
        height: 100%;
        border-radius: 0.2em;
        z-index: -1;
        content: "";
        background-color: dodgerblue;
        transition: all .5s;
    }
.BSearch:hover:after {
    opacity: 0;
    transform: scale(5);
}

.BSearch-bg {
    background-color: dodgerblue;
    color: black;
}
.BSearch-bg::after {
    background-color: dodgerblue;
}*/
.addList {
    display: inline-grid;
    margin: 5vh 35%
}
a {
    color: dodgerblue;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 2.21vh 2vh;
    float: right;
    text-decoration: none;
    font-family: fantasy;
  
}
.ErrorMSG {
    color: #de4646;
    float: left;
    font-size: 0.8em;
    font-family: poppins-500;
}
span {
    color: #069ea6;
    float: left;
    font-size: 2em;
    font-family: poppins-500;
}
.middleDiv {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 2vh;
}

.inner_main_menu {
    margin: 0 auto;
    width: 100%;
    background-color: black;
    height: 10vh;
    z-index: 1000;
}
.nave li {
    width: 100%;
    position: relative;
    margin: 0;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 29;
    background-color: black;
}
.logo {
    float: left;
    height: 10vh;
}
#LogInDiv {
    width: 22%;
    padding-right: 0px;
    margin: 0% auto;
    height: 56vh;
    border-radius: 1.5vh;
    background-image: url('Img/PackageLogInDiv.png');
    background-repeat: no-repeat;
}
.Header {
    font-size: 2.6em;
    font-family: lobster;
    color: dodgerblue;
}
.UnderLineHeader {
    font-size: 2.6em;
    font-family: lobster;
    color: #069ea6;
    text-decoration: underline;
}
#ContentPlaceHolder1_DroneLogIn {
    margin: 5% 0% -0.6% 28.3%;
    width: 43%;
}
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    width: 70%;
    background-color:black;
    color:dodgerblue;
    margin:2% auto 2%;
}
    .content-table tr td input {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        font-size: 0.7em;
        font-weight: bold;
        border-radius: 0.2em;
        margin: 0.3em 0;
        text-align: center;
        color: black;
        box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
        position: relative;
        height: 2em;
        background-color: dodgerblue;
        font-family: serif;
        float: left;
        margin:0px 35%;
    }
.BigErrorMSG {
    color: #770D0B;
    font-family: poppins-500;
    font-size: 8em;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
}
.Select {
    color: black;
    background-color: dodgerblue;
    text-align: left;
    border-radius: 5px 5px 0 0;
    float: left;
    border-color: dodgerblue;
    height: 2.5em;
}
#map {
    width: 50%;
    height: 40vh;
    margin: 5% auto;
    margin-top: 10%;
}
.UnvalidTextBox {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    display: block;
    color: darkblue;
    background-color: white;
    border-bottom-color: #880e0e;
}
.RowDiv {
    display: flex;
    align-items: center;
    margin-top: 3.25%;
}
.RegDiv {
    background-color: #07162f;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 176vh;/*216 when there is map*/
    border-radius: 1.5vh;
    align-items: center;
    opacity: 0.88;
}
.verifyEmailDiv {
    background-color: #07162f;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 50vh; /*216 when there is map*/
    border-radius: 1.5vh;
    align-items: center;
    opacity: 0.88;
    position: relative;
}
#UserString, #UserString2, #UserString3, #UserString4 {
    color: #069ea6;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 3vh 2vh;
    float: left;
    text-decoration: none;
    font-family: lobster
}
#OrdeNowDiv {
    background-color: #01193a;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 80vh;
    border-radius: 1.5vh;
    align-items: center;
    opacity: 0.88;
}
#AddShopDiv {
    background-color: #01193a;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height:68vh;
    border-radius: 1.5vh;
    align-items: center;
    opacity: 0.88;
}
@keyframes spin {
    0% {
        transform: translateX(-25%) rotate(10deg);
    }

    25% {
        transform: translateX(-60%) rotate(20deg);
    }

    50% {
        transform: translateX(-10%) rotate(-10deg);
    }

    75% {
        transform: translateX(30%) rotate(-20deg);
    }

    100% {
        transform: translate(5%) rotate(0deg);
    }
}

@keyframes spinRight {
    0% {
        transform: translateX(40%) rotate(10deg)
    }
    100% {
        transform: translate(70%) rotate(20deg);
    }
}
@keyframes angryDrone {
    0% {
        transform: translateX(25%) rotate(10deg);
    }

    25% {
        transform: translateX(60%) rotate(20deg);
    }

    50% {
        transform: translateX(10%) rotate(-10deg);
    }

    75% {
        transform: translateX(-20%) rotate(-20deg);
    }

    100% {
        transform: translate(-5%) rotate(0deg);
    }
}
.angryDrone-animation {
    animation: angryDrone 2s ease-out forwards;
}
.spinRight-animation {
    animation: spinRight 2s ease-out forwards;
}
.spin-animation {
    animation: spin 2s ease-out forwards;
}

    #ContentPlaceHolder1_CleanB {
        float: right;
        width: 25%;
        margin-right: 3%;
        position: relative;
        bottom: 5%;
    }
.NumInfo {
    background-color: #01193a;
    padding: 20px 40px;
    margin: 5% auto;
    border-radius: 40px;
}
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.LargeButton {
    width: 10vh;
    height: 4vh;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: dodgerblue;
    border-radius: 10px;
    margin: 5% auto;
    font-size: 1em;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.LargeButton:hover {
    transition: 1s ease-in-out;
    background: black;
    color: dodgerblue;
}

.LargeButton:hover svg {
    stroke-dashoffset: -480;
}

.LargeButton span {
    color: black;
    font-size: 18px;
    font-weight: 100;
}
    /*#Move {
    transform: translateX(-25%);
}
.LargeButton {
    position: relative;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    background-color: darkblue;
    box-shadow: rgba(0,0,0,0.28) 2px 2px 22px;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

    LargeButton:focus {
        outline-color: transparent;
        box-shadow: rgba(0,0,0,0.28) 2px 2px 22px;
    }

    .right::after, LargeButton::after {
        content: "";
        display: block;
        position: absolute;
        white-space: nowrap;
        padding: 40px 40px;
        pointer-events: none;
    }

    LargeButton::after {
        font-weight: 200;
        top: -30px;
        left: -20px;
    }

.right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.right {
    left: 66%;
}

.left {
    right: 66%;
}

.right::after {
    top: -30px;
    left: calc(-66% - 20px);
    background-color: darkblue;
    color: transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
}

LargeButton:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
}

LargeButton .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
}

LargeButton .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
}


LargeButton::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px,darkblue 3px, white 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, black 3px, dodgerblue 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, black 5px, black 6px, transparent 6px);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(0, -66.666%);
    }
}*//*#Move {
    transform: translateX(-25%);
}
.LargeButton {
    position: relative;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    background-color: darkblue;
    box-shadow: rgba(0,0,0,0.28) 2px 2px 22px;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

    LargeButton:focus {
        outline-color: transparent;
        box-shadow: rgba(0,0,0,0.28) 2px 2px 22px;
    }

    .right::after, LargeButton::after {
        content: "";
        display: block;
        position: absolute;
        white-space: nowrap;
        padding: 40px 40px;
        pointer-events: none;
    }

    LargeButton::after {
        font-weight: 200;
        top: -30px;
        left: -20px;
    }

.right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.right {
    left: 66%;
}

.left {
    right: 66%;
}

.right::after {
    top: -30px;
    left: calc(-66% - 20px);
    background-color: darkblue;
    color: transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
}

LargeButton:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
}

LargeButton .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
}

LargeButton .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
}


LargeButton::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px,darkblue 3px, white 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, black 3px, dodgerblue 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, black 5px, black 6px, transparent 6px);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(0, -66.666%);
    }
}*/

