body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.5em;
    background-image: url('Img/BGimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: poppins-300;
}
.TextBox {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    border-bottom-color: darkblue;
    display: block;
    color: darkblue;
    background-color: white;
}
.TextBoxUnValidValue {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    border-bottom-color: #880e0e;
    display: block;
    color: #880e0e;
    background-color: black;
}
#LogIn1, #logout1, #logout2, #logout3, #logout4 {
    float: right;
    font-size: 1em;
    background-color: dodgerblue;
    margin: 2.7vh;
    font-family: serif;
}
.BSearch {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 0.2em;
    margin: 0.3em 0;
    text-align: center;
    color: black;
    box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
    position: relative;
    height: 2em;
    background-color: dodgerblue;
    font-family: serif;
    float: left;
}
.addList {
    display: inline-grid;
    margin: 5vh 35%
}
a {
    color: dodgerblue;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 2.21vh 2vh;
    float: right;
    text-decoration: none;
    font-family: fantasy;
  
}
.ErrorMSG {
    color: #de4646;
    float: left;
    font-size: 0.8em;
    font-family: poppins-500;
}
span {
    color: #069ea6;
    float: left;
    font-size: 2em;
    font-family: poppins-500;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 2vh;
}

.inner_main_menu {
    margin: 0 auto;
    width: 100%;
    background-color: black;
    height: 10vh;
}
.nave li {
  
    width: 100%;
    position: relative;
    margin: 0;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 29;
    background-color: black;
}
.logo {
    float: left;
    height: 10vh;
}
#LogInDiv {
    width: 22%;
    padding-right: 0px;
    margin: 0% auto;
    height: 40vh;
    border-radius: 1.5vh;
    background-image: url('Img/PackageLogInDiv.png');
    background-repeat: no-repeat;
}
.Header {
    font-size: 2.6em;
    font-family: lobster;
    color: dodgerblue;
}
#ContentPlaceHolder1_DroneLogIn {
    margin: 5% 0% -0.6% 28.3%;
    width: 43%;
}
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    width: 70%;
    background-color:black;
    color:dodgerblue;
    margin:2% auto 2%;
}
    .content-table tr td input {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        font-size: 0.7em;
        font-weight: bold;
        border-radius: 0.2em;
        margin: 0.3em 0;
        text-align: center;
        color: black;
        box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
        position: relative;
        height: 2em;
        background-color: dodgerblue;
        font-family: serif;
        float: left;
        margin:0px 35%;
    }
.Select {
    color: black;
    background-color: dodgerblue;
    text-align: left;
    border-radius: 5px 5px 0 0;
    float: left;
    border-color: dodgerblue;
    height: 2.5em;
}
#map {
    width: 50%;
    height: 40vh;
    margin: 5% auto  ;
    margin-bottom: 5%;
}
.UnvalidTextBox {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    display: block;
    color: darkblue;
    background-color: white;
    border-bottom-color: #880e0e;
}
.RowDiv {
    display: flex;
    align-items: center;
}
.RegDiv {
    background-color: #07162f;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 126vh;
    border-radius: 1.5vh;
    align-items: center;
}
#UserString, #UserString2, #UserString3, #UserString4 {
    color: #069ea6;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 3vh 2vh;
    float: left;
    text-decoration: none;
    font-family: lobster
}
#OrdeNowDiv {
    background-color: #01193a;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 80vh;
    border-radius: 1.5vh;
    align-items: center;
}
#AddShopDiv {
    background-color: #01193a;
    width: 30%;
    padding-right: 0px;
    margin: 5% auto;
    height: 50vh;
    border-radius: 1.5vh;
    align-items: center;
}
@keyframes spin {
    0% {
        transform: translateX(-25%) rotate(10deg);
    }

    25% {
        transform: translateX(-60%) rotate(20deg);
    }

    50% {
        transform: translateX(-10%) rotate(-10deg);
    }

    75% {
        transform: translateX(30%) rotate(-20deg);
    }

    100% {
        transform: translate(5%) rotate(0deg);
    }
}

.spin-animation {
    animation: spin 2s ease-out forwards;
}
#ContentPlaceHolder1_CleanB {
    float: right;
    width: 25%;
    margin-right:3%;
    position:relative;
    bottom:5%;
}
/*#Move {
    transform: translateX(-25%);
}*/
