body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.5em;
    background-image: url('Img/BGimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.TextBox {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.8em;
    width: 150px;
    font-size: 0.6em;
    display: block;
    border-bottom: solid 4px;
    border-bottom-color: darkblue;
    display: block;
    color: darkblue;
    background-color: white;
}
#LogIn1, #logout1, #logout2, #logout3, #logout4 {
    float: right;
}

.BSearch {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 0.2em;
    margin: 0.3em 0;
    text-align: center;
    color: black;
    box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
    position: relative;
    height: 2em;
    background-color: dodgerblue;
    font-family: serif;
    float: left;
}
.addList {
    display: inline-grid;
    margin: 20px 50%;
}
a {
    color: dodgerblue;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0px 40px;
    float: right;
    text-decoration: none;
    font-family: fantasy;
  
}

span {
    color: #880e0e;
    float: left;
    font-size:0.8em;
    font-family:monospace;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
}

.inner_main_menu {
    margin: 0 auto;
    width: 100%;
    background-color: black;
    height: 5vh;
}
.nave li {
  
    width: 100%;
    position: relative;
    margin: 0;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 29;
    background-color: black;
}
.logo{
    font-family:fantasy;
    float:left;
}
#LogIn1 {
    float: right;
    font-size: 1em;
    background-color: dodgerblue;
    margin-right: 50px;
    font-family: serif;
}
#LogInDiv{
    background-color:black;
    width:25%;
    padding-right:80px;
    margin: 0px 35%;
    height:60vh;
}
.Header {
    font-size: 2.2em;
    font-family: fantasy;
    color: dodgerblue;
}
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    width: 70%;
    background-color:black;
    color:dodgerblue;
    margin:2% auto 2%;
}
    .content-table tr td input {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        font-size: 0.7em;
        font-weight: bold;
        border-radius: 0.2em;
        margin: 0.3em 0;
        text-align: center;
        color: black;
        box-shadow: 0px 5px 17px 2px rgba(0,0,0,0.28);
        position: relative;
        height: 2em;
        background-color: dodgerblue;
        font-family: serif;
        float: left;
        margin:0px 35%;
    }
.Select {
    color: black;
    background-color: dodgerblue;
    text-align: left;
    border-radius: 5px 5px 0 0;
    float: left;
    border-color: dodgerblue;
    height: 1.2em;
}
#map {
    width: 50%;
    height: 40vh;
    margin: 0% auto;
}